.css-1fdsijx-ValueContainer {
  padding: 2px 2px 2px 2px !important;
}

.css-1nmdiq5-menu {
  display: flex;
}

.css-1nmdiq5-menu {
  position: absolute !important;
  z-index: 100 !important;
  margin-top: 0px !important;
  border-radius:0px !important;
  box-shadow:none !important;
  background-color: transparent !important;
}

.css-1n6sfyn-MenuList {
  position: relative !important;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1) !important;
  border-radius:1px !important;
  padding:0px !important;
}
.css-qr46ko {
  position: relative !important;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1) !important;
  border-radius:1px !important;
  padding:0px !important;
}

.css-pg67p0-option {
  font-size: 15px !important;
  padding: 3px 5px !important;
}

.css-1sp5u4o-option {
  padding: 3px 5px !important;

}

.css-1ro9zkw-option {
  padding: 3px 5px !important;
}

.css-fd43t4-ValueContainer {
  width: 47px !important;
  padding: 0px 0px 0px 6px !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 2px !important;
}

.css-151sz6c-indicatorContainer {
  padding: 2px !important;

}